@import url();

/* basic css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #777;
    font-weight: 400;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: normal;
    margin: 0;
    background: none;
    line-height: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    position: relative;
    line-height: 1.7em;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
}

